{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block Portfolio %}{% endblock %}
{% block content %}



<a href="{%url 'recipe_create'%}" class='btn btn-primary m-4'>
  <img id="pen" src="{%static 'images/pen.svg'%}" alt="">
  share a recipe
</a>
<a href="{%url 'oldest'%}" class='btn btn-secondary mx-2'>
  oldest
</a>
<a href="{%url 'list'%}" class='btn btn-secondary mx-2'>
  newsest
</a>
<a href="{%url 'popular'%}" class='btn btn-secondary mx-2'>
  popular
</a>
<a href="{%url 'up_special'%}" class='btn btn-secondary mx-2'>
  UP Special
</a>
<a href="{%url 'sweet'%}" class='btn btn-secondary mx-2'>
  sweet
</a>
<a href="{%url 'spicy'%}" class='btn btn-secondary mx-2'>
  spicy
</a>
<a href="{%url 'indo_chinease'%}" class='btn btn-secondary mx-2'>
  indo-chinease
</a>
<a href="{%url 'punjabi'%}" class='btn btn-secondary mx-2'>
  punjabi
</a>
<div class="container row gap-3">
  {% block content2 %}{% endblock %}

  <div class="container width">
    <div class="row">
      {% for recipe in recipes %}
    <div class="col-md-3 test2">


      <div class="card mt-2" id='card'>
        <div class="card-img-top card-images img-container">
          
          <img src="{{recipe.images.url}}"  id="card-images"  alt="...">
        </div>
        <div class="card-body card-title">
          <p><h6 class="card-title">{{recipe.user.username}}</h6></p>
          <p class="card-text">{{recipe.recipe_name}} - <span class= "category">
            <b>{{recipe.category}}</b>
          </span></p>

          <div class="like-view d-flex">
            <form method="post" action="{%url 'like_others_post' recipe.id%}">
              {% csrf_token %}
              <button method="post" class="btn btn-muted">
                {% if user %}

                {% if recipe|is_liked_by:user %}
                <img id="like" src="{% static 'images/like.svg' %}" alt="">
            {% else %}
                <img id="unlike" src="{% static 'images/unlike.svg' %}" alt="">
            {% endif %}
                {% endif %}
                
        
            {{recipe.view_count}}
          </button>
        </form>
            
            <a href="{%url 'view_recipe' recipe.id%}" class="btn btn-muted ">
              <img id="view"  src="{%static 'images/view.svg'%}" alt="">
            </a>
            {% if recipe.user == user %}
            
              
  
              
                <a href="{%url 'recipe_edit' recipe.id%}" class="btn btn-muted ">
                  <img id="edit" src="{%static 'images/edit.svg'%}" alt="">
                </a>
                <a href="{%url 'recipe_delete' recipe.id%}" class="btn btn-muted">
                  <img id="delete" src="{%static 'images/delete.svg'%}" alt="">
                </a>

            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
                </div><div class="row">
            {% endif %}
    
    
      {% endfor %}
    </div>
  </div>

    
</div>
<footer class='d-flex footer'>
  Thank you for your Visit.
</footer>
{% endblock %}