body {
}
.body{
  /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  background-color: #161616;
  font-family:'poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  .bg-grey-color {
  background-color: #23262F;
}
.card-images{
  height: 125px;
  /* width: auto */
}
#yummy-logo{
  width: 60px;
}

